@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: "EA Font";
  src: url("/fonts/EASPORTS.woff2") format("woff2"),
       url("/fonts/EASPORTS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-ea {
  font-family: "EA Font", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Modo oscuro opcional */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* El body ocupa toda la pantalla, pero sin forzar centrado */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Press Start 2P", serif;
  /* font-family: "EA Font", sans-serif; */
  /* Quita display: flex; justify-content: center; align-items: center; */
}

/* Clases de scroll (usarlas solo si haces un toggle manual) */
.no-scroll {
  overflow: hidden; /* Elimina el scroll */
}
.auto-scroll {
  overflow: auto; /* permite el scroll */
}

/* Efectos glitch */
@keyframes glitch {
  0% {
    text-shadow: 4px 4px 0 #a200ff, -2px -2px 0 #00ff4c;
  }
  50% {
    text-shadow: -4px -4px 0 #a200ff, 2px 2px 0 #00ff4c;
  }
  100% {
    text-shadow: -4px -4px 0 #a200ff, -2px 2px 0 #00ff4c;
  }
}
.glitch {
  position: relative;
  animation: glitch 3s infinite;
}


@keyframes glitch_aiesec {
  0% {
    text-shadow: 2px 2px 0 #3f5b8a, -2px -2px 0 #3f5b8a;
  }
  50% {
    text-shadow: -4px -4px 0 #3f5b8a, 4px 4px 0 #3f5b8a;
  }
  100% {
    text-shadow: 2px 2px 0 #3f5b8a, -2px -2px 0 #3f5b8a;
  }
}

.glitch_aiesec {
  position: relative;
  animation: glitch_aiesec 3s infinite;
}

@keyframes glitch_clubmerc {
  0% {
    text-shadow: 2px 2px 0 #83aad1, -2px -2px 0 #83aad1;
  }
  50% {
    text-shadow: -4px -2px 0 #83aad1, 4px 2px 0 #83aad1;
  }
  100% {
    text-shadow: 2px -2px 0 #83aad1, -2px 2px 0 #83aad1;
  }
}

.glitch_clubmerc {
  position: relative;
  animation: glitch_clubmerc 3s infinite;
}

@keyframes glitch_gpg {
  0% {
    text-shadow: 2px 2px 0 #8856df, -2px -2px 0 #8856df;
  }
  50% {
    text-shadow: -4px -2px 0 #8856df, 4px 2px 0 #8856df;
  }
  100% {
    text-shadow: 2px -2px 0 #8856df, -2px 2px 0 #8856df;
  }
}

.glitch_gpg {
  position: relative;
  animation: glitch_gpg 3s infinite;
}



@keyframes glitch_nexos {
  0% {
    text-shadow: 2px 2px 0 #9A975F, -2px -2px 0 #9A975F;
  }
  50% {
    text-shadow: -4px -2px 0 #9A975F, 4px 2px 0 #9A975F;
  }
  100% {
    text-shadow: 2px -2px 0 #9A975F, -2px 2px 0 #9A975F;
  }
}

.glitch_nexos {
  position: relative;
  animation: glitch_nexos 3s infinite;
}

@keyframes glitch_Seres {
  0% {
    text-shadow: 2px 2px 0 #68ada5, -2px -2px 0 #68ada5;
  }
  50% {
    text-shadow: -4px -2px 0 #68ada5, 4px 2px 0 #68ada5;
  }
  100% {
    text-shadow: 2px -2px 0 #68ada5, -2px 2px 0 #68ada5;
  }
}

.glitch_Seres {
  position: relative;
  animation: glitch_Seres 3s infinite;
}

@keyframes glitch_Spie {
  0% {
    text-shadow: 2px 2px 0 #c71a1a, -2px -2px 0 #c71a1a;
  }
  50% {
    text-shadow: -4px -2px 0 #c71a1a, 4px 2px 0 #c71a1a;
  }
  100% {
    text-shadow: 2px -2px 0 #c71a1a, -2px 2px 0 #c71a1a;
  }
}

.glitch_Spie {
  position: relative;
  animation: glitch_Spie 3s infinite;
}

@keyframes glitch_NOVA {
  0% {
    text-shadow: 8px 8px 0 #7f0f7d, -8px -8px 0 #7f0f7d;
  }
  50% {
    text-shadow: -8px -8px 0 #7f0f7d, 8px 8px 0 #7f0f7d;
  }
  100% {
    text-shadow: 8px 8px 0 #7f0f7d, -8px -8px 0 #7f0f7d;
  }
}

.glitch_NOVA {
  position: relative;
  animation: glitch_NOVA 3s infinite;
}

@keyframes glitch_partners {
  0% {
    text-shadow: 4px 4px 0 #00346c, -4px -4px 0 #d27b0a;
  }
  50% {
    text-shadow: -4px -4px 0 #00346c, 4px 4px 0 #d27b0a;
  }
  100% {
    text-shadow: 4px 4px 0 #00346c, -4px -4px 0 #d27b0a;
  }
}

.glitch_partners {
  position: relative;
  animation: glitch_partners 3s infinite;
}

@keyframes glitch_OE {
  0% {
    text-shadow: 4px 4px 0 #3d9bf3, -4px -4px 0 #3d9bf3;
  }
  50% {
    text-shadow: -4px -4px 0 #3d9bf3, 4px 4px 0 #3d9bf3;
  }
  100% {
    text-shadow: 4px 4px 0 #3d9bf3, -4px -4px 0 #3d9bf3;
  }
}

.glitch_OE {
  position: relative;
  animation: glitch_OE 3s infinite;
}

@keyframes glitch_Tutores {
  0% {
    text-shadow: 4px 4px 0 #513D9C, -4px -4px 0 #513D9C;
  }
  50% {
    text-shadow: -4px -4px 0 #513D9C, 4px 4px 0 #513D9C;
  }
  100% {
    text-shadow: 4px 4px 0 #513D9C, -4px -4px 0 #513D9C;
  }
}

.glitch_Tutores {
  position: relative;
  animation: glitch_Tutores 3s infinite;
}

@keyframes glitch_UN {
  0% {
    text-shadow: 4px 4px 0 #468dd3, -4px -4px 0 #468dd3;
  }
  50% {
    text-shadow: -4px -4px 0 #468dd3, 4px 4px 0 #468dd3;
  }
  100% {
    text-shadow: 4px 4px 0 #468dd3, -4px -4px 0 #468dd3;
  }
}

.glitch_Tvu {
  position: relative;
  animation: glitch_Tvu 3s infinite;
}

@keyframes glitch_Tvu {
  0% {
    text-shadow: 4px 4px 0 purple, -4px -4px 0 purple;
  }
  50% {
    text-shadow: -4px -4px 0 purple, 4px 4px 0 purple;
  }
  100% {
    text-shadow: 4px 4px 0 purple, -4px -4px 0 purple;
  }
}

.glitch_UN {
  position: relative;
  animation: glitch_UN 3s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-text {
  animation: blink 1s infinite;
}

.combined {
  animation: glitch 0.3s infinite, pulse 1.5s infinite;
}


.no-scroll {
  overflow: hidden;
}

.auto-scroll {
  overflow: auto; 
}

.glitch {
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  animation: glitch 0.5s infinite alternate;
}

@keyframes glitch {
  0% { text-shadow: -2px -2px 0px #ff00ff, 2px 2px 0px #00ffff; }
  100% { text-shadow: 2px -2px 0px #ff00ff, -2px 2px 0px #00ffff; }
}

.bg-stars {
  background-image: url('https://novaeafit.blob.core.windows.net/vtg-2025-1/stars-bg.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

